@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');


html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #cbd5d8;
  background-image: url('');
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;

  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
}

.intro {
  padding: 4em 2em;
  text-align: center;
  font-size: 28px;
  color: #083d41;
  height: 500px;
  margin-top: 200px;
  ;
}



a {
  color: #83a9a2;
}

header {
  background-color: #083d41;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
}

header img {
  width: 50px;
  height: auto;
  margin-left: 80px;
}



.mouse {
  margin: 140px auto;
  width: 100px;
  margin-top: -180px;
}

.mouse-icon {
  width: 25px;
  height: 45px;
  border: 2px solid #083d41;
  border-radius: 15px;
  cursor: pointer;
  position: relative;
  text-align: center;
}

.mouse-wheel {
  height: 6px;
  margin: 2px auto 0;
  display: block;
  width: 3px;
  background-color: #083d41;
  border-radius: 50%;
  -webkit-animation: 1.6s ease infinite wheel-up-down;
  -moz-animation: 1.6s ease infinite wheel-up-down;
  animation: 1.6s ease infinite wheel-up-down;
}

@-webkit-keyframes wheel-up-down {
  0% {
    margin-top: 2px;
    opacity: 0;
  }

  30% {
    opacity: 1;
  }

  100% {
    margin-top: 20px;
    opacity: 0;
  }
}

@-moz-keyframes wheel-up-down {
  0% {
    margin-top: 2px;
    opacity: 0;
  }

  30% {
    opacity: 1;
  }

  100% {
    margin-top: 20px;
    opacity: 0;
  }
}

@keyframes wheel-up-down {
  0% {
    margin-top: 2px;
    opacity: 0;
  }

  30% {
    opacity: 1;
  }

  100% {
    margin-top: 20px;
    opacity: 0;
  }
}



/* Styles for the animated text */
.animated-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
  margin-top: -190px;
  font-size: 38px;
}

.animated-text h1 {
  font-size: 5em;
  color: #083d41;
  white-space: nowrap;
  animation: moveText 10s infinite linear;
  font-family: 'Source Code Pro', monospace;

}


@keyframes moveText {
  0% {
    transform: translate(-50%, -50%) translateX(-30%);
  }

  100% {
    transform: translate(-50%, -50%) translateX(140%);
  }

}





.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3em;
  padding: 3em;
}


.grid-item {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2), 0 1px 3px rgba(0, 0, 0, 0.08);
  background-color: rgba(255, 255, 255, 0.627);
  border-radius: 10px;
  display: flex;
  animation: fadeIn 0.5s;
  transition: 0.5s;
}


.grid-item:hover {
  transform: scale(1.03);
}


.grid-item img {
  width: 40%;
  height: auto;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}


.grid-item-text {
  flex: 1;
  margin-top: 80px;
  max-width: 700px;
  color: #083d41;
}


.grid-item-text {
  text-align: left;
}


.grid-item:nth-child(2) .grid-item-text,
.grid-item:nth-child(4) .grid-item-text {
  text-align: right;
}


.grid-item:nth-child(2),
.grid-item:nth-child(4) {
  flex-direction: row-reverse;
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


.grid-item {
  position: relative;
}


.grid-item:nth-child(odd)::before {
  content: "CASE STUDY";
  position: absolute;
  top: 20px;
  right: -20px;
  background-color: #083d41;
  color: #FFF;
  padding: 5px 10px;
  border-radius: 5px;
}


.grid-item:nth-child(even)::before {
  content: "CASE STUDY";
  position: absolute;
  top: 20px;
  left: -20px;
  background-color: #083d41;
  color: #FFF;
  padding: 5px 10px;
  border-radius: 5px;
}






#scrollToTopBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #0a585e;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 50%;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  transition: background-color 0.6s ease;
}

#scrollToTopBtn:hover {
  background-color: #105459b4;
}


.scroll-to-top-icon {
  width: 24px;
  height: 24px;
  fill: white;
}